@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {

    Font-family:'inter', system-ui;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #243e63;  
}

html {
    scroll-behavior: smooth;
}

h1, h2, h4, h5, h6 {
    color: #242424;
    line-height: 1.25;
}

p {
    display: block;
    line-height: 1.5;
}

a {
    text-decoration: none;
    position: relative;
    transition: opacity 300ms ease;
}

nav {
    display: flex;
    padding-top: 32px;
}

section {
    padding: 0 32px;
}

img {
    width: 512px;
}

button {
    cursor: pointer;
}

.container {
    height: 100%;
}

.btn {
    font-size: 14px;
    color: rgb(255, 255, 255);
    background-color: #6415ff;
    border: none;
    font-weight: bold;
    padding: 12px 32px;
    border-width: initial;
    border-image: initial;
    border-radius: 500px;
    padding: 10px 32px;
    margin: 32px 0 0;
    transition: all 300ms;
}

.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.btn__menu--svg {
    display: none;
}

.sign__up--btn {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 32px;
    margin-bottom: 16px;
    line-height: 1.5;
    z-index: 2;
    height: calc(100% - 2.5vh);
    border-radius: 500px;
    border: none;
    background-color: #6415ff;
    color: #ffff;
    font-weight: 500;
    font-size: 14px;
    transition: all 300ms;
}

.purple {
    color: #6415ff;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 96px 0 96px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}


.nav__link {
    font-size: 14px;
    font-weight: 0;
    margin: 0 24px;
    padding: 4px;
    letter-spacing: 035px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 300ms;
}


.nav__links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 2px;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: 900;
    margin-left: 12px;
    letter-spacing: 0.6px;
    padding-bottom: 2px;
}

.btn__menu {
    display: block;
}

/*

HEADER

*/

.landing {
    padding: 0px, 32px;
}

.header__container{
   width: 100%;
   display: flex;
   justify-content: end;
}

.h1 {
    font-weight: bold;
    display: block;
}

.header__img--wrapper {
    display: flex;
    justify-content: flex-end;
}

.header__description {
    width: 40%;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.header__description--para {
    font-size: 16px;
    font-weight: 500;
    margin: 20px 0;
    color: #243e63;
}

.header__email {
    flex-direction: column;
    height: auto;
    width: 100%;
    max-width: 448px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--btn {
    width: 100%;
    padding: 16px 0;
    margin: 16px 0;
    margin-bottom: 0px;
    line-height: 1.5;
    z-index: 2;
    height: calc(100% - 16px);
    border-radius: 500px;
    border: none;
    background-color: #6415ff;
    color: #ffff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms;
}

.header__email--input {
    position: static;
    padding: 16px 0;
    padding-left: 32px;
    line-height: 1.5;
    width: 100%;
    border-radius: 500px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    z-index: .9;
    transition: border 300ms ease;
    
}

.header__customers {
    margin: 16px 0px 0px;
    padding: 0px 64px 0px 0px;
}

.header__customers--title {
    font-size: 12px;
    color: #A0AEC0;
    margin: 80px 0px 0px;
}

/*

FEATURES 

*/

.figure__img--wrapper {
    display: flex;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(229, 231, 235);
    border-image: initial;
    border-radius: 500px;
    width: 65.3px;
    height: 65.3px;
}

.feature {
    align-items: flex-start;
    width: calc(33.3333%);
}

.feature__text  {
    color: #243e63;
    margin: 8px 0 0 16px;

}

.feature__para {
    color: #7c8ba1;
    font-size: 16px;
    margin: 16px 0 0;
    max-width: calc(211.333px);
}

.feature__row {
    display: flex;
    flex-wrap: wrap;
    padding: 32px 24px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1200px;
}

.feature__img {
    width: 24px;
    height: 24px;
}

.feature__title {
    height: 29px;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(229, 231, 235);
    border-image: initial;
    border-radius: 500px;
}

.features__section__title {
    font-size: 48Px;
    margin: 16px 0;
    line-height: 1.25;
    text-align: center;
}
    
.section__tag {
    font-size: 16px;
    color: rgb(100, 21, 255);
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.section__para {
    color: #7c8ba1;
    font-size: 18px; 
    font-weight: 500;
    line-height: 1.625;
    text-align: center;
    max-width: 576px;
    margin: 0 auto;
}

    /* 

QUALITY 

*/

.quality__description {
    padding: 24px;
}

.quality__section__tag {
    font-size: 16px;
    color: rgb(100, 21, 255);
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.quality__section__title {
    color: #243e63;
    font-size: 48px;
    margin: 16px 0;
}

.quality__section__para {
    color: #7c8ba1;
    font-size: 18px;
}

.quality__img {
    justify-content: center;
    z-index: 1;
    border: solid 1px;
    border-color: #e9edf3;
    border-radius: 10px;
    box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px  darkblue;
}

/*

STEPS 
 
*/

.steps__section__tag {
    text-align: left;
    font: 16px;
    color: #6415ff;
    text-transform: uppercase;
    font-weight: 700;
}

.step {
    display: flex;
    margin-top: 32px;
}

#STEPS .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.step__title {
    font-size: 20px;
    font-weight: 600;
    color: #243e63;
    
}

.step__para {
    color: #718096;
    font-size: 14px;
    margin: 12px 0px 0px;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
}

.steps__section__title {
    color: #243e63;
    font-size: 48px;
    margin: 16px 0px;
}

.steps__img {
    width: 100%;
    z-index: 2; 
}

.steps__img--wrapper {
    display: flex;
    height: 50%;
    width: 50%;
    margin: 16px 64px;
}

.step__description {
    display: flex;
    flex-direction: column;
    padding: 0 0 16px 64px;
    text-align: left;
}

.steps__description {
    padding: 24px 0 0 24px;
}

/*

VALUES

*/

#VALUES .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__title {
    font-size: 48px;
    text-align: left;
    margin: 16px 0 32px;
}

.value__img--wrapper {
    border-radius: 12px;
    height: 24px;
    width: 24px;
    background-color: rgb(141, 235, 141);
    display: flex;
    align-items: center;
    justify-content: center;
}

.value__img--wrapper2 {
    border-radius: 12px;
    height: 24px;
    width: 24px;
    background-color: rgb(226, 151, 156);
    display: flex;
    align-items: center;
    justify-content: center;
}

.value__name {
    font-size: 24px;
    color: #243e63;
    font-weight: bold;
    padding: 0 0 0 12px;
}

.value__title {
    display: flex;
    text-align: left ;
    margin-top: 32px;
}

.values__section__tag {
    text-align: left;
    font: 16px;
    color: #6415ff;
    text-transform: uppercase;
    font-weight: 700;
}

.values__list {
    display: flex;
    align-items: center;
}

.values__description {
    text-align: left;
    padding: 32px 64px 32px 0;
}

.values__img {
    width: 50%;
}

.section__para {
    text-align: left;
}

/*

PRICING 

*/
#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan {
    width: 100%;
    max-width: 384px;
    margin: 0 auto;
    padding-top: 8px;
    border-radius: 20px;
    border-width: 2px;
    overflow: hidden;
    z-index: 100;
    border-color: rgb(56, 178, 172);
    box-shadow: inset 2px 2px 10px rgb(56, 178, 172);
}

.plans {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.plan__wrapper--middle {
    border-color: white;
    border-radius: 20px;
    border-width: 2px;
    background-color: #040cfa8f;
    box-shadow: inset 2px 2px 10px white;
}

.plan__wrapper--bottom {
    border-radius: 20px;
    border-width: 2px;
    background-color: white;
    border-color: rgb(245, 101, 101);
    box-shadow: inset 2px 2px 10px rgb(245, 101, 101);
}

.plan__top {
    padding: 32px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #cad2dc;
}


.plan__name {
    text-transform: capitalize;
    font-size: 20px;
    color: #1a202c;
    font-weight: 600;
    text-align: center;
}

.plan__price {
    color: #1a202c;
    margin: 4px 0;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.plan__duration {
    color: #A0AEC0;
    text-align: center;
}

.plan__target {
    color: #1a202c;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #cad2dc;
    padding: 24px 0 24px;
}

.plan__feature {
    color: #718096;
    font-size: 16px;
    margin: 20px 0 0;
    text-align: center;
}

.plan__btn--1 {
    font-size: 14px;
    color: rgb(255, 255, 255);
    background: linear-gradient( 115deg, rgb(56, 178, 172)0%, rgb(129, 230, 217) 100%);;
    border: none;
    font-weight: bold;
    padding: 12px 32px;
    border-width: initial;
    border-image: initial;
    border-radius: 500px;
    padding: 10px 32px;
    margin: 32px 0 32px;
    transition: all 300ms;
}

.plan__btn--2 {
    font-size: 14px;
    color: #6415ff;
    background: white;
    border: none;
    font-weight: bold;
    padding: 12px 32px;
    border-width: initial;
    border-image: initial;
    border-radius: 500px;
    padding: 10px 32px;
    margin: 32px 0 32px;
    transition: all 300ms;
}

.plan__btn--3 {
    font-size: 14px;
    color: rgb(255, 255, 255);
    background: linear-gradient(115deg, rgb(245, 101, 101)0%, rgb(254, 178, 178)100%);
    border: none;
    font-weight: bold;
    padding: 12px 32px;
    border-width: initial;
    border-image: initial;
    border-radius: 500px;
    padding: 10px 32px;
    margin: 32px 0 32px;
    transition: all 300ms;
}

.plan__bottom {
    padding: 32px 64px;
}

.plan__top--middle {
    padding: 32px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: white;
}

.plan__name--middle {
    font-size: 20px; 
    color: white;
    font-weight: bold;
    text-align: center;
}

.plan__price--middle {
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.plan__duration--middle {
    color: white;
    text-align: center;
}

.plan__target--middle {
    font-size: 24px;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 24px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: white;
}

.plan__feature--middle {
    font-size: 16px;
    color: rgb(206, 219, 229);
    text-align: center;
    margin: 20px 0 0;
    padding: 0, 0, 24px;
}

.plan__bottom--middle {
    padding: 32px 64px;
}

.plan__target--bottom {
    color: #1a202c;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.plan__top--bottom {
    justify-content: center;
    padding: 32px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #cad2dc ;
}

.plan__price--bottom {
    color: #1a202c;
    margin: 4px 0;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.plan__duration--bottom {
    font-size: 48px;
    color: #A0AEC0;
    text-align: center;
}

.plan__name--bottom {
    text-transform: capitalize;
    font-size: 20px;
    color: #1a202c;
    font-weight: 600;
    text-align: center;
}

.pricing__section__tag  {
    text-align: center;
    justify-content: space-between;
    font-size: 16px;
    color: #6415ff;
    font-weight: 700;
    padding-top: 96px;
    padding-bottom: 96px;
}

/*

TESTIMONIALS

*/

.testimonial__row {
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 96px;
}

.section__tag--testimonials {
    text-align: left;
    font-size: 16px;
    color: rgb(100, 21, 255);
    letter-spacing: 1.6px;
    font-weight: 700;
    padding-left: 10%;
}

.testimonials__description {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: calc(100% - 41.667%);
}

.section__title--testimonials {
    color: #243e63;
    font-size: 42px;
    font-weight: bold;
    text-align: left;
    padding-top: 5%;
}

.testimonial__rating {
    text-align: left;
    padding-left: 10%;
}

.testimonial__para  {
    padding-left: 10%;
    padding-top: 5%;
}

.section__para--testimonial {
    color: #7c8ba1;
    text-align: left;
    padding: 10%;
}

.testimonial__title {
    padding-left: 10%;
    padding-top: 5%;
}

.testimonial__img {
    width: 50%;
}

.testimonial__profile {
    padding-left: 10%;
}

.testimonial__name {
    font-size: 20px;
    font-weight: bold;
}

.testimonial__role {
    color: #7c8ba1;
}

.testimonial__profile {
    display: flex;
    align-items: center;
}

.testimonial__profile--img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.testimonial__buttons {
    display: flex;
    align-items: center;
    padding: 24px;
}

.testimonial__button {
    align-items: center;
    padding: 16px;
    background: #edf2f7;
    border-color: #edf2f7;
    border-radius: 50%;
    margin: 0 12px;
    transition: all 300ms;
}

.testimonial__bottom {
    display: flex;
    justify-content: space-between;
}

.testimonial__details {
    text-align: center;
    padding: 24px;
}

/*

START

*/

.start__container {
    display: flex;
    background-color: rgb(100, 21, 255);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 30vh;
    border-radius: 8px;
}

.start__title {
    color: #edf2f7;
    font-size: 30px;
    font-weight: bold;
    padding: 24px;
}

.start__button--1 {
    font-size: 14px;
    color: white;
    background: linear-gradient(115deg, rgb(245, 101, 101)0%, rgb(254, 178, 178)100%);
    border: none;
    font-weight: bold;
    padding: 12px 32px;
    border-width: initial;
    border-image: initial;
    border-radius: 500px;
    padding: 10px, 32px;
    margin: 32px, 0px, 32px;
    transition: all 300ms;
}

.start__button--2 {
    font-size: 14px;
    color: white;
    background: linear-gradient(115deg, rgb(134, 103, 237)0%, rgb(80, 215, 222)100%);
    border: none;
    font-weight: bold;
    padding: 12px 32px;
    border-width: initial;
    border-image: initial;
    border-radius: 500px;
    padding: 10px, 32px;
    margin: 32px, 0px, 32px;
    transition: all 300ms;
}

.start__buttons {
    display: flex;
    justify-content: space-evenly;
}

/*

FOOTER

*/

.footer__columns {
    display: flex;
    background-color: rgb(100, 21, 255);
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
    height: 30vh;
    border-bottom: #8d8c8e;
    border-bottom-style: solid;
    border-width: 2px;
}

.main__links {
    color: white;
    padding: 24px 0px;
}

.main__link {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.footer__nav__link {
    color: white;
    font-size: 14px;
    padding: 5px;
}

.footer__bottom {
    width: 100%;
    max-width: 1300px;
    background-color: rgb(100, 21, 255);
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 20px 5px;
}

.footer__logo {
    display: flex;
}

.treact__logo--img {
    width: 24px;
    height: 24px;
}

.treact__logo--text {
    color: rgb(250, 249, 251);
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.footer__copywright {
    color: rgb(250, 249, 251);
}

.footer__socials {
    color: rgb(250, 249, 251);
}

/*

MEDIA

*/

@media (max-width: 640px) {
    .header__email {
        flex-direction: column;
        height: auto;
    }

    .container {
        padding: 80px, 0;
    }
        
    .nav__logo {
        margin: 8px, 0px;
        padding-bottom: 4px;
    }

    main {
        margin-bottom: 80px;
    }

    .header__description {
        margin: 0 auto;
    }

    .feature__para {
        padding-top: 24px;
    }

    .features {
        width: fit-content;
    }

    .row {
        display: block;
    }

    .start__title {
        padding: 0px;
    } 

}

@media (max-width: 829px) {
    #quality .row, #values .row {
        flex-direction: column-reverse;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }

    .row {
        display: block;
    }

    .feature__title {
        margin-bottom: 20px;
    }

    .feature__para {
        text-align: center;
    }
}

@media (max-width: 1024px) {
    
    .btn__menu{
        display: block;
    }

    header .row {
        flex-direction: column;
        display: block;
    }

    .header__description {
        margin: 0 auto;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .header__img--wrapper {
        padding-left: 25%;
        display: block;
    }
    
    .section__para {
        text-align: center;
    }

    .quality__section__para {
        text-align: center;
    }

    .plan {
        display: block;
    }

    .plan__wrapper {
        margin: 24px;
        width: fit-content;
    }

    .plan__wrapper--middle {
        margin: 24px;
        width: fit-content;
    }

    .plan__wrapper--bottom {
        margin: 24px;
        width: fit-content;
    }

    .plan__duration {
        font-size: 32px;
    }

    .plan__duration--middle {
        font-size: 32px;
    }

    .plan__duration--bottom {
        font-size: 32px;
    }

    .main__links {
        padding: 0px;
    }
    footer {
        padding: 80px, 32px;
    }
    .nav__links {
        display: none;
    }
    .btn__menu--svg {
        display: all;
    }

}

@media (max-width: 1280px) {
   
    .row {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
    }

    .nav__row {
        display: flex;
        justify-content: space-between;
    }

    .btn__menu--svg {
        display: none;
    }
    